name: tutorial
description: "introduction to flutter "
publish_to: "none"
version: 0.1.0

environment:
  sdk: ^3.9.0

dependencies:
  flutter:
    sdk: flutter

  # Add these two lines
  english_words: ^4.0.0
  provider: ^6.0.0 # It's good practice to use the latest version

  cupertino_icons: ^1.0.2


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true

